*{
    margin: 0%;
    padding: 0%;
    font-size: 15px;
};

.note-cards-list{
    background: #000;
}

.main-flex{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}

.left_section{
    width: 30%;
    height: 200vh;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main-head{
    display: flex;
    justify-content:space-between ;  
    align-items: center;
}

.add-notes-btn{
    background:blue;
    width: 2pc;
    height: 2pc;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: larger;
    font-weight: 400;
}

.serch-bar{
 margin: 10px 0px;
background-color:rgba(251, 249, 249, 0.901);
height: 2pc;
align-content:center;

}

#input-text{
    border: none;
    background-color:rgba(251, 249, 249, 0.901);
}


.toggle{
    background-color:rgba(220, 218, 218, 0.838);
    width: auto;
    height: 1.5rem;
    display: flex;
    padding: 1px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

.btn-toggles{
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color:rgba(220, 218, 218, 0.838);
    cursor: pointer;
}

.active{
background-color: white;
 font-weight:bold;
};

.in-active{
 background-color:rgba(220, 218, 218, 0.838);   
};

#btn-trash.active{
    color: rgb(200, 19, 19);
   
};


.note_cards{
   cursor: pointer;
    margin: 20px;
   padding: 5px;
   width: auto;
   
   height: 100px;
   
}

.note_card_title{
pointer-events: none;
}

.note_card_content{
pointer-events: none;
}

.note_flex{
    display: flex;
    justify-content: space-between;
    pointer-events: none; 
    margin: 10px;
   padding: 5px;
   border: solid 1px rgb(134, 40, 40);
     width: auto;
   height: 60px;
      
}





/* right side */

.notes-write-pannel{
padding:30px;
width: 600px;
height: 200px;

}

.input-text{
 width: 100%;
 height: 40px;
 border: none;
}


#note-write-tittle{
font-size: x-large;

}

.right_section{
    color:gray;
   width: 65%;
}

.head_section_right{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    justify-content: space-around;
    width: 60px;
}


